<form>
    <h1>LIVRO</h1>

    <mat-form-field *ngIf="livro.id" class="form">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="livro.id" type="text" name="id" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="livro.titulo" type="text" name="titulo" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do autor</mat-label>
        <input matInput  [(ngModel)]="livro.nome_autor" type="text" name="nome_autor" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" type="text" name="texto" rows="10" disabled>
        </textarea>
    </mat-form-field>
    
    <div class="buttons">
        <button class="mat-elevation-z8" mat-stroked-button color="primary" (click)="delete()">ELIMINAR</button>
        <button class="mat-elevation-z8" mat-stroked-button color="warn" (click)="cancel()">CANCELAR</button>
    </div>

</form>